<!-- Carousel Start -->
<!-- Carousel Start -->
<div class="header-carousel owl-carousel">
    <div class="header-carousel-item">
        <div class="header-carousel-item-img-1">
            <img src="../assets/img/carousel-1.jpg" class="img-fluid w-100" alt="Image">
        </div>
        <div class="carousel-caption">
            <div class="carousel-caption-inner text-start p-3">
                <h1 class="display-1 text-capitalize text-white mb-4 fadeInUp animate__animated"
                    data-animation="fadeInUp" data-delay="1.3s" style="animation-delay: 1.3s;"
                    data-i18n="carousel_slide1_title">
                    Ingeniería y Tecnología para la Industria Moderna
                </h1>
                <p class="mb-5 fs-5 fadeInUp animate__animated"
                    data-animation="fadeInUp" data-delay="1.5s" style="animation-delay: 1.5s;"
                    data-i18n="carousel_slide1_text">
                    Desde 1985, ISF SAC brinda soluciones en refrigeración industrial, óleo-hidráulica y automatización
                    para sectores clave como pesca, minería y alimentos.
                </p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mb-4 me-4 fadeInUp animate__animated"
                    data-animation="fadeInUp" data-delay="1.5s" style="animation-delay: 1.7s;"
                    data-i18n="carousel_slide1_btn1" href="#">Contáctanos</a>
                <a class="btn btn-dark rounded-pill py-3 px-5 mb-4 fadeInUp animate__animated"
                    data-animation="fadeInUp" data-delay="1.5s" style="animation-delay: 1.7s;"
                    data-i18n="carousel_slide1_btn2" href="#">Ver más</a>
            </div>
        </div>
    </div>

    <div class="header-carousel-item mx-auto">
        <div class="header-carousel-item-img-2">
            <img src="../assets/img/carousel-2.jpg" class="img-fluid w-100" alt="Image">
        </div>
        <div class="carousel-caption">
            <div class="carousel-caption-inner text-center p-3">
                <h1 class="display-1 text-capitalize text-white mb-4" data-i18n="carousel_slide2_title">
                    Más de 40 años de Trayectoria Confiable
                </h1>
                <p class="mb-5 fs-5" data-i18n="carousel_slide2_text">
                    ISF SAC es sinónimo de experiencia y compromiso, con presencia en Perú, Ecuador y Panamá,
                    respaldando a industrias que no se detienen.
                </p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mb-4 me-4" data-i18n="carousel_slide2_btn1" href="#">
                    Nuestros Proyectos</a>
                <a class="btn btn-dark rounded-pill py-3 px-5 mb-4" data-i18n="carousel_slide2_btn2" href="#">
                    Conócenos</a>
            </div>
        </div>
    </div>

    <div class="header-carousel-item">
        <div class="header-carousel-item-img-3">
            <img src="../assets/img/carousel-3.jpg" class="img-fluid w-100" alt="Image">
        </div>
        <div class="carousel-caption">
            <div class="carousel-caption-inner text-end p-3">
                <h1 class="display-1 text-capitalize text-white mb-4" data-i18n="carousel_slide3_title">
                    Servicio Integral y Soporte 24/7
                </h1>
                <p class="mb-5 fs-5" data-i18n="carousel_slide3_text">
                    Brindamos mantenimiento, repuestos y proyectos llave en mano con atención permanente los 365 días
                    del año, 24 horas al día.
                </p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mb-4 me-4" data-i18n="carousel_slide3_btn1" href="#">
                    Solicita Asistencia</a>
                <a class="btn btn-dark rounded-pill py-3 px-5 mb-4" data-i18n="carousel_slide3_btn2" href="#">
                    Más Información</a>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->



<!-- About Start -->
<div class="container-fluid about bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="about-img">
                    <img src="../assets/img/about-3.png" class="img-fluid w-100 rounded-top bg-white"
                        alt="Imagen ISF SAC">
                    <img src="../assets/img/about-2.jpg" class="img-fluid w-100 rounded-bottom" alt="Imagen industrial">
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 wow fadeInRight" data-wow-delay="0.3s">
                <h4 class="text-primary">Quiénes Somos</h4>
                <h1 class="display-5 mb-4">Líderes en Soluciones Industriales y Automatización en Perú</h1>
                <p class="text ps-4 mb-4">
                    Ingeniería de Sistemas de Fluídos S.A.C. (ISF SAC) cuenta con más de 40 años de experiencia
                    ofreciendo sistemas, equipos y repuestos en refrigeración industrial, óleo-hidráulica y
                    automatización para los sectores pesquero, alimentos, bebidas, cementeras, minería y petróleo.
                </p>
                <div class="row g-4 justify-content-between mb-5">
                    <div class="col-lg-6 col-xl-5">
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> Soluciones llave en
                            mano</p>
                        <p class="text-dark mb-0"><i class="fas fa-check-circle text-primary me-1"></i> Mantenimiento
                            especializado</p>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> Atención post-venta
                            24/7</p>
                        <p class="text-dark mb-0"><i class="fas fa-check-circle text-primary me-1"></i> Cobertura
                            nacional e internacional</p>
                    </div>
                </div>
                <div class="row g-4 justify-content-between mb-5">
                    <div class="col-xl-5"><a href="#" class="btn btn-primary rounded-pill py-3 px-5">Descubre Más</a>
                    </div>
                    <div class="col-xl-7 mb-5">
                        <div class="about-customer d-flex position-relative">
                            <img src="../assets/img/customer-img-1.jpg"
                                class="img-fluid btn-xl-square position-absolute" style="left: 0; top: 0;"
                                alt="Cliente 1">
                            <img src="../assets/img/customer-img-2.jpg"
                                class="img-fluid btn-xl-square position-absolute" style="left: 45px; top: 0;"
                                alt="Cliente 2">
                            <img src="../assets/img/customer-img-3.jpg"
                                class="img-fluid btn-xl-square position-absolute" style="left: 90px; top: 0;"
                                alt="Cliente 3">
                            <img src="../assets/img/customer-img-1.jpg"
                                class="img-fluid btn-xl-square position-absolute" style="left: 135px; top: 0;"
                                alt="Cliente 4">
                            <div class="position-absolute text-dark" style="left: 220px; top: 10px;">
                                <p class="mb-0">Miles de Clientes</p>
                                <p class="mb-0">Satisfechos en la región</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-4 text-center align-items-center justify-content-center">
                    <div class="col-sm-4">
                        <div class="bg-primary rounded p-4">
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="counter-value fs-1 fw-bold text-dark" data-toggle="counter-up">33</span>
                                <h4 class="text-dark fs-1 mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                            </div>
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <p class="text-white mb-0">Años de Experiencia</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="bg-dark rounded p-4">
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="counter-value fs-1 fw-bold text-white" data-toggle="counter-up">1000</span>
                                <h4 class="text-white fs-1 mb-0" style="font-weight: 600; font-size: 25px;">+</h4>
                            </div>
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <p class="mb-0">Proyectos Ejecutados</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="bg-primary rounded p-4">
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="counter-value fs-1 fw-bold text-dark" data-toggle="counter-up">24</span>
                                <h4 class="text-dark fs-1 mb-0" style="font-weight: 600; font-size: 25px;">/7</h4>
                            </div>
                            <div class="w-100 d-flex align-items-center justify-content-center">
                                <p class="text-white mb-0">Atención 24 horas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Projects Start -->
<div class="container-fluid section-projects pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h4 class="text-primary">Nuestros Proyectos</h4>
            <h1 class="display-4">Soluciones Industriales Implementadas</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <!-- Proyecto 1 -->
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="blog-item bg-light rounded p-4" style="background-image: url(../assets/img/bg.png);">
                    <div class="mb-4">
                        <h4 class="text-primary mb-2">Refrigeración Industrial</h4>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0"><span class="text-dark fw-bold">Ubicación:</span> Callao</p>
                            <p class="mb-0"><span class="text-dark fw-bold">Año:</span> 2023</p>
                        </div>
                    </div>
                    <div class="project-img position-relative">
                        <img src="../assets/img/blog-1.jpg" class="img-fluid w-100 rounded" alt="Proyecto ISF 1">
                        <div class="blog-plus-icon">
                            <a href="../assets/img/blog-1.jpg" data-lightbox="project"
                                class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                        </div>
                    </div>
                    <div class="my-4">
                        <a href="#" class="h4">Instalación de planta de refrigeración para industria pesquera</a>
                    </div>
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Ver más</a>
                </div>
            </div>
            <!-- Proyecto 2 -->
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="blog-item bg-light rounded p-4" style="background-image: url(../assets/img/bg.png);">
                    <div class="mb-4">
                        <h4 class="text-primary mb-2">Óleo-Hidráulica</h4>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0"><span class="text-dark fw-bold">Ubicación:</span> Piura</p>
                            <p class="mb-0"><span class="text-dark fw-bold">Año:</span> 2022</p>
                        </div>
                    </div>
                    <div class="project-img position-relative">
                        <img src="../assets/img/blog-2.jpg" class="img-fluid w-100 rounded" alt="Proyecto ISF 2">
                        <div class="blog-plus-icon">
                            <a href="../assets/img/blog-2.jpg" data-lightbox="project"
                                class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                        </div>
                    </div>
                    <div class="my-4">
                        <a href="#" class="h4">Sistema hidráulico para prensa industrial automatizada</a>
                    </div>
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Ver más</a>
                </div>
            </div>
            <!-- Proyecto 3 -->
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="blog-item bg-light rounded p-4" style="background-image: url(../assets/img/bg.png);">
                    <div class="mb-4">
                        <h4 class="text-primary mb-2">Automatización</h4>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0"><span class="text-dark fw-bold">Ubicación:</span> Ecuador</p>
                            <p class="mb-0"><span class="text-dark fw-bold">Año:</span> 2024</p>
                        </div>
                    </div>
                    <div class="project-img position-relative">
                        <img src="../assets/img/blog-3.jpg" class="img-fluid w-100 rounded" alt="Proyecto ISF 3">
                        <div class="blog-plus-icon">
                            <a href="../assets/img/blog-3.jpg" data-lightbox="project"
                                class="btn btn-primary btn-md-square rounded-pill"><i class="fas fa-plus fa-1x"></i></a>
                        </div>
                    </div>
                    <div class="my-4">
                        <a href="#" class="h4">Control automatizado de bombas y sensores industriales</a>
                    </div>
                    <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Projects End -->

<!-- Services Start -->
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h4 class="text-primary">Nuestros Servicios</h4>
            <h5 class="display-4">Soluciones Integrales en Ingeniería Industrial y Automatización</h5>
        </div>
        <div class="row g-4 justify-content-center text-center">
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="../assets/img/service-1.jpg" class="img-fluid w-100 rounded-top"
                            alt="Refrigeración Industrial">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-cogs fa-2x me-2"></i>
                                Sistemas de Refrigeración Industrial</a>
                            <p class="mb-4">
                                Diseño, suministro e instalación de sistemas de refrigeración para la industria
                                pesquera, alimentos y bebidas.
                            </p>
                            <a class="btn btn-light rounded-pill py-2 px-4" href="#">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="../assets/img/service-2.jpg" class="img-fluid w-100 rounded-top"
                            alt="Óleo-Hidráulica">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-tools fa-2x me-2"></i>
                                Equipos y Soluciones Óleo-Hidráulicas</a>
                            <p class="mb-4">
                                Venta y mantenimiento de equipos óleo-hidráulicos para sectores minero, petrolero e
                                industrial.
                            </p>
                            <a class="btn btn-light rounded-pill py-2 px-4" href="#">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="../assets/img/service-4.jpg" class="img-fluid w-100 rounded-top"
                            alt="Automatización Industrial">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i class="fas fa-robot fa-2x me-2"></i>
                                Automatización Industrial</a>
                            <p class="mb-4">
                                Integración de sistemas automáticos para optimizar procesos productivos y mejorar la
                                eficiencia operativa.
                            </p>
                            <a class="btn btn-light rounded-pill py-2 px-4" href="#">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item bg-light rounded">
                    <div class="service-img">
                        <img src="../assets/img/service-3.jpg" class="img-fluid w-100 rounded-top"
                            alt="Proyectos Llave en Mano">
                    </div>
                    <div class="service-content text-center p-4">
                        <div class="service-content-inner">
                            <a href="#" class="h4 mb-4 d-inline-flex text-start"><i
                                    class="fas fa-project-diagram fa-2x me-2"></i> Proyectos Llave en Mano</a>
                            <p class="mb-4">
                                Gestión integral desde el diseño hasta la puesta en marcha, garantizando calidad y
                                cumplimiento en tiempo.
                            </p>
                            <a class="btn btn-light rounded-pill py-2 px-4" href="#">Leer Más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a class="btn btn-primary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="#">Ver Todos
                    los Servicios</a>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->




<!-- Especialidades Start -->
<div class="container-fluid team pb-5 bg-light">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h4 class="text-primary">Nuestra Especialidad</h4>
            <h1 class="display-5 fw-bold">Áreas Estratégicas de ISF S.A.C.</h1>
            <p class="text-muted">Con más de 40 años de experiencia, destacamos en sectores clave de la industria,
                garantizando soluciones de calidad e innovación tecnológica.</p>
        </div>

        <div class="row g-4 justify-content-center">
            <!-- Refrigeración Industrial -->
            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded shadow h-100">
                    <div class="team-img">
                        <img src="../assets/img/carousel-1.jpg" class="img-fluid w-100 rounded-top"
                            alt="Refrigeración Industrial">
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <h5 class="text-white">Refrigeración Industrial</h5>
                        <p class="text-muted mb-0">Sistemas de alta eficiencia para procesos en pesca, alimentos y
                            bebidas.</p>
                    </div>
                </div>
            </div>

            <!-- Óleo-hidráulica -->
            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded shadow h-100">
                    <div class="team-img">
                        <img src="../assets/img/carousel-1.jpg" class="img-fluid w-100 rounded-top"
                            alt="Óleo-Hidráulica">
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <h5 class="text-white">Óleo-Hidráulica</h5>
                        <p class="text-muted mb-0">Tecnología de control de fluidos para maquinaria pesada e industrial.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Automatización Industrial -->
            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded shadow h-100">
                    <div class="team-img">
                        <img src="../assets/img/carousel-1.jpg" class="img-fluid w-100 rounded-top"
                            alt="Automatización">
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <h5 class="text-white">Automatización</h5>
                        <p class="text-muted mb-0">Soluciones de control industrial inteligentes y eficientes.</p>
                    </div>
                </div>
            </div>

            <!-- Servicio Técnico y Proyectos -->
            <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded shadow h-100">
                    <div class="team-img">
                        <img src="../assets/img/carousel-1.jpg" class="img-fluid w-100 rounded-top"
                            alt="Servicio Técnico">
                    </div>
                    <div class="team-content bg-dark text-center rounded-bottom p-4">
                        <h5 class="text-white">Servicio Técnico</h5>
                        <p class="text-muted mb-0">Mantenimiento, instalación y atención 24/7 con soporte especializado.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Especialidades End -->


<!-- FAQ Start -->
<div class="container-fluid faq bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <!-- Preguntas Frecuentes -->
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="pb-4">
                    <h4 class="text-primary">Preguntas Frecuentes</h4>
                    <h1 class="display-5 fw-bold">Resolvemos tus dudas más comunes</h1>
                    <p class="text-muted">Encuentra aquí información clave sobre nuestros servicios y la experiencia ISF
                        SAC en soluciones industriales.</p>
                </div>

                <div class="accordion bg-white rounded shadow-sm" id="accordionExample">
                    <!-- Pregunta 1 -->
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button fs-5 fw-bold text-dark collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                ¿Qué servicios ofrece ISF S.A.C.?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body text-muted">
                                Ofrecemos sistemas, equipos y repuestos en refrigeración industrial, óleo-hidráulica y
                                automatización industrial. Además, brindamos mantenimiento, instalación y puesta en
                                marcha de proyectos industriales llave en mano.
                            </div>
                        </div>
                    </div>

                    <!-- Pregunta 2 -->
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button fs-5 fw-bold text-dark collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                                ¿A qué industrias atienden?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body text-muted">
                                Atendemos a los sectores: pesquero, alimentos y bebidas, minería, petróleo, cementeras,
                                entre otros sectores industriales, tanto en Perú como en países como Ecuador y Panamá.
                            </div>
                        </div>
                    </div>

                    <!-- Pregunta 3 -->
                    <div class="accordion-item border-0 mb-3">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button fs-5 fw-bold text-dark collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                ¿Ofrecen atención de emergencia o postventa?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body text-muted">
                                Sí. Nuestro servicio post-venta está disponible los 365 días del año, 24/7. Contamos con
                                un equipo especializado listo para responder de forma inmediata ante cualquier
                                eventualidad.
                            </div>
                        </div>
                    </div>

                    <!-- Pregunta 4 -->
                    <div class="accordion-item border-0 mb-0">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button fs-5 fw-bold text-dark collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                ¿Por qué confiar en ISF S.A.C.?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body text-muted">
                                Con más de 40 años de experiencia, somos una empresa peruana líder, reconocida por su
                                tecnología de punta, soluciones integrales y compromiso con la calidad en cada proyecto.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Imagen lateral y botón -->
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                <div class="faq-img rounded position-relative overflow-hidden shadow-lg">
                    <img src="../assets/img/faq-img.jpg" class="img-fluid rounded w-100" alt="FAQs ISF SAC">
                    <a class="faq-btn btn btn-primary rounded-pill text-white py-3 px-5 position-absolute bottom-0 end-0 m-4 shadow"
                        href="#contact">
                        Contactar Ahora <i class="fas fa-arrow-right ms-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQ End -->

<!-- FAQ End -->